header{
background: black;
color: white;
font-size: 30px;

}

nav {
   position: absolute;
    top: 90px;
    right: 0px;

}

.caixa{
	position: relative;
    width: 940px;
    margin: 0px auto;

}
h2{

	color: black;
	padding: 60px;
}
a{font-size: 40px;
color: red;
font-style: italic;
}