p {
   color: black;
}

header{
background: black;
color: white;
font-size: 30px;

}

nav {
   position: absolute;
    top: 90px;
    right: 0px;

}

.caixa{
	position: relative;
    width: 940px;
    margin: 0px auto;

}
h2{

	color: black;
	padding: 60px;
}
a{font-size: 40px;
color: red;

}
footer{
   text-align: center;
   background: url("bg.jpg");
   padding: 40px 0;
}

.perso li{
display: inline-block;
text-align: center;
width: 40%;
vertical-align: top;
margin: 0 4%;
padding: 30px 20px;
box-sizing: border-box;
border: 2px solid #000000;
border-radius: 10px;
background: white;
}

.perso{
width: 940px;
margin: 0 auto;
padding: 40px 0;
}

.perso h2{
font-size: 30px;
font-weight: bold;
}

a:hover{
color: cyan;
font-style: italic;

}

.perso li:hover{
   border-color: cyan;
   background: black;
}
.perso li:active{
   border-color: blue;
}
   .perso li:hover h2{
font-size: 40px;
color: cyan;
   }
   .perso li:active h2{
   font-size: 40px;
color: blue;
   }

   body{
      background:gray;
   }

      .perso li:hover p{
font-size: 15px;
color: cyan;

   }
   .perso li:active p{
   font-size: 15px;
color: blue;

}
.copy {
color: white;
font-size: 13px;
margin: 20px 0 0;



}